.footer-area {
    background-size: cover;
    background-image: url('../../assets/footer.webp');
    margin-top: 100px;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--color-white);
    position:relative;
}

.main {
  width: 90%;
  max-width: 1200px;
  margin: 115px auto 0;
}

.copy {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

#dac-logo {
    width: 35px;
    margin-bottom: -10px;
}

.non-clickable-link {
    color: var(--copy-a-c);
    text-decoration: underline;
    cursor: not-allowed;
}