div.motion_menu {
  padding: 50px;
  font-size: 20px;
  list-style: none;
}

div.menu li {
  display: inline;
  margin: 20px;
}

div.menu li a {
  text-decoration: none;
  color: var(--color-menu-li-a);
  transition: 0.35s ease-in;
}

div.menu li a:hover { color: var(--color-menu-li-a-hover); }

div.head-motion,
div.motion_menu,
div.head, 
div.sous-articles {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.head-motion img#head-ban {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

div.head img.logo,
div.head h1,
div.head p {
  margin: 20px;
}

div.head {
  margin-bottom: 50px;
  margin-top: -150px;
}

img.logo {
  width: 120px;
}

div.head h1 {
  color: var(--color-head-h1);
  text-transform: uppercase;
}

div.head p {
  background-color: var(--bg-head-p);
  border-radius: 30px;
  padding: 20px;
  color: var(--color-head-p);
  font-style: italic;
}

.gh {
  font-style: oblique;
  margin-top: 12px;
  font-weight: 360;
  line-height: 2em;
  font-size: 20px;
}

div.sous-articles a {
  text-decoration: none;
  color: var(--color-sous-articles-a);
  padding: 17px;
  border-radius: 10px;
  background-color: var(--bg-sous-articles-a);
  border: 1px solid var(--border-sous-articles-a);
  font-size: 20px;
  transition: 0.35s ease-out;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

div.sous-articles a:hover { 
  color: var(--color-sous-articles-a-hover);
  background-color: var(--bg-sous-articles-a-hover); 
}