.contains {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 20px;
  }
  
  .educ {
    flex: 1 1 300px;
  }
  
  .ghj {
    margin-top: 12px;
  }
  
  h3.ghj {
    color: #273f5b;
    text-decoration: dotted;
  }