.box-article {
  background-color: var(--bg-box-article);
  padding: 3em 4em;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-box-article);
  /*flex: 1 1 300px;*/
  position: relative;
  max-width: 900px;
}

.cot {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.art img {
  width: 500px;
  font-size: 20px;
  margin-bottom: 25px;
  background-size: cover;
  border-radius: 5px;
}

.art h3 {
  /*font-weight: bold;
  text-decoration: underline;*/
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.art h4, p {
  font-style: italic;
  margin-bottom: 15px;
  line-height: 2rem;
}

.link {
  position: absolute;
  top: 0;
  right: 8px;
}

.link + .link {
  top: 0;
  right: 35px;
}

.link-projet {
  text-decoration: none;
  color: var(--color-link-projet);
  transition: 0.35s ease-out;
  font-size: 1.5rem;
}

.link-projet:hover {
  color: var(--color-link-projet-hover);
}

.techno {
  font-weight: bold;
  color: rgb(24, 24, 24);
  transition: all 0.35s ease-out;
}

.techno:hover {
  color: var(--color-techno-hover);
}

.tags {
  border-radius: 10px;
  border: 1px solid #515151;
  padding: 10px;
  margin-left: 8px;
  background-color: #829fc4;
  transition: all 0.35s ease-out;
}

.tags:hover {
  background-color: var(--color-link-projet);
}

@media only screen and (max-width: 1110px) {
  div.cot, div.art img {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 500px) {
  .techno {
    display: contents;
  }
  .techno .tags {
    margin-bottom: 10px;
  }
}